<div class="container m-9 bg-red-500">
  <h1 class="font-bold text-4xl">All Products</h1>
  <%= link_to "My Cart", show_cart_path %>
  <div class="grid grid-cols-3 gap-4 bg-green-500">
    <% for product in @products %>
      <div class="col-span-2">
        <img src="<%= product.image_url %>" />
        <h2><%= product.title %></h2>
        <p><%= product.description %></p>
        <span><%= number_to_currency(product.price) %></span>
        <%= button_to "Add to Cart", :action => :add_to_cart, :id => product %>
      </div>
    <% end %>
  </div>
</div>
