<% @cart_items.each do |cart_item| %>
  Cart Items:
  <div class="col-span-2">
    <img src="<%= cart_item.product.image_url %>" />
    <h2><%= cart_item.product.title %></h2>
    <p><%= cart_item.product.description %></p>
    <span><%= number_to_currency(cart_item.product.price) %></span>
    <span>Quantity: <%= cart_item.quantity %></span>
  </div>
<% end %>
<%= link_to "Store", store_index_path %>
